asgiref==3.11.1
Django==6.0.2
django-csp==4.0
mysql-connector-python==9.5.0
numpy==2.3.4
packaging==26.0
pandas==2.3.3
pillow==12.1.1
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.2
